.video {
    display: flex;
    flex-direction: row;
    flex: 0 0 21%;
    margin: 2%;
    height: 100%;
    max-width: 150px;
    border-style: solid;
}

.videos {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
}

img {
    width: 100%;
    height: auto;
}